# Database
mariadb>=1.1.0

# Data Processing
pandas>=2.0.0
numpy>=1.21.0

# Visualization
matplotlib>=3.7.0
seaborn>=0.12.0
scipy>=1.10.0
wordcloud>=1.9.2

# Language Detection
langdetect>=1.0.9

# API Requests
requests>=2.28.0

# Web Automation (for article collection)
playwright>=1.40.0

# LLM & Embedding
openai>=1.0.0
langchain-openai>=0.1.0
lightrag-hku>=1.4.9

# RAG Evaluation
ragas==0.4.3
langchain-openai==1.1.7

# Vector DB
chromadb>=1.4.0

# Loading Bar
tqdm>=4.67.1

# hugging face
huggingface_hub==0.36.0

# Streamlit
streamlit>=1.28.0